= stylesheet_link_tag "setup"
= javascript_include_tag "setup"

%h3
  Install
  %span gitcycle

.console<
  %table
    %tr
      %td{ :width => '50%' } &nbsp;
      %td#setup<
        gem install gitcycle
        %br
        git setup
      %td{ :width => '50%' } &nbsp;

.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#tab1"} Developers
    %li
      %a{"data-toggle" => "tab", :href => "#tab2"} Code Reviewers
    %li
      %a{"data-toggle" => "tab", :href => "#tab3"} Quality Assurance
  .tab-content
    #tab1.tab-pane.active
      = render partial: 'developers'
    #tab2.tab-pane
      = render partial: 'code_reviewers'
    #tab3.tab-pane
      = render partial: 'qa'