= stylesheet_link_tag "logs"
= javascript_include_tag "logs"

%table.table.table-striped
  %thead
    %tr
      %th Session
      %th User
      %th Start
      %th Duration
      %th Exit
  %tbody
    - @logs.each do |log, i|
      %tr{ :onclick => "window.openLog(#{log.id})" }
        %td= log.id
        %td= log.user.login
        %td= log.started_at.strftime("%b %d %T")
        %td
          = log.finished_at - log.started_at
          sec
        %td{ :class => exit_code_color(log) }= log.exit_code