= stylesheet_link_tag "logs"
= javascript_include_tag "logs"

%h2
  = "##{@log.id}"
  \-
  = @log.user.login
  \-
  = @log.started_at_time.strftime("%b %d")
  

%table.table
  %thead
    %tr
      %th Event
      %th Body
      %th Time
  %tbody
    - @entries.each do |log|
      %tr{ :onclick => "window.openBacktrace(#{log.id})" }
        %td= log.event
        %td
          %pre= log.body
        %td= log.ran_at_time.strftime("%T")

- @entries.each do |log|
  %div{ :id => "backtrace-#{log.id}", :class => "white-popup mfp-hide" }
    %pre= log.backtrace